<form id="exerciseBg" class="new-workout-form" action="/workouts" method="post">
<div class="flex-row">
  <div>
    <label for="workoutName">Workout Name:</label>
    <input type="text" name="workoutName" id="workoutName">
  </div>
  <div>
<label for="description">Description:</label>
    <input type="text" name="description" id="description">
  </div>
      <button type="submit">Create Workout</button>
</div>
  
  
 <div class="container grid grid-cols-6">
    {{!-- <h3>Exercises:</h3> --}}

<div class="item-1">
    <h2 class="mb-2 text-3xl font-bold text-gray-900">Arms</h2>
    {{#each armData}}
      <div>

<div class="flex-wrap items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="{{this.id}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> 
    <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{this.name}}</label>
</div>
</div>
{{/each}}
</div>


<div class="item-2">
    <h2 class="mb-2 text-3xl font-bold text-gray-900" >Back</h2>
    {{#each backData}}
      <div>

<div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="{{this.id}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> 
    <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{this.name}}</label>
</div>
      </div>
    {{/each}}
</div>

<div class="item-3">
        <h2 class="mb-2 text-3xl font-bold text-gray-900">Core</h2>
    {{#each coreData}}
      <div>

<div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="{{this.id}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> 
    <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{this.name}}</label>
</div>
      </div>
    {{/each}}
</div>

<div class="item-4">
    <h2 class="mb-2 text-3xl font-bold text-gray-900">Chest</h2>
    {{#each chestData}}
      <div>

<div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="{{this.id}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> 
    <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{this.name}}</label>
</div>
      </div>
    {{/each}}
</div>

<div class="item-5">
        <h2 class="mb-2 text-3xl font-bold text-gray-900">Legs</h2>
    {{#each legsData}}
      <div>

<div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="{{this.id}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> 
    <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{this.name}}</label>
</div>
      </div>
    {{/each}}
</div>

<div class="item-6">
        <h2 class="mb-2 text-3xl font-bold text-gray-900">Heart</h2>
    {{#each heartData}}
      <div>

<div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="{{this.id}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> 
    <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{this.name}}</label>
</div>
      </div>
    {{/each}}
</div>
</div>

  
</form>

<script src="./js/exercise.js"></script>