<div id="workoutBg">
<title>Title</title>
<div>description</div>
<ul>Exercises
<li>exercise 1</li> 
<li>exercise2</li>

 {{#each workouts}}
      <div>
{{this.name}}
<button data-id="{{this.id}}" id="delete">delete</button>
{{this.description}}


{{#each exercises}}
<div>
    exercise: {{this.name}}
</div>
{{/each}}
      </div>
    {{/each}}
name:
    {{name}}


</div>

<script src="./js/workout.js"></script>