{{!-- <div id='workoutBg'>

  {{#each workouts}}
    <div>
      {{this.name}}
      <button data-id='{{this.id}}' id='delete'>delete</button>
      {{this.description}}

      {{#each exercises}}
        <div>
          {{this.name}}
        </div>
      {{/each}}
    </div>
  {{/each}}
  name:
  {{name}}

</div> --}}
 <h1>WORKOUTS</h1>
<div id='workoutBg'>
  <div class='flex justify-center'>
   
     {{#unless workouts}} <div>Please Create a workout</div>{{/unless}}
      {{#each workouts}}
       <div class='block p-6 rounded-lg shadow-lg bg-white max-w-sm'>
        <h5
          class='text-gray-900 text-xl leading-tight font-medium mb-2'
        >{{this.name}}</h5>
        <div
          class='text-gray-900 text-xl leading-tight font-medium mb-2'
        >{{this.description}}</div>
        <p class='text-gray-700 text-base mb-4'>
          {{#each exercises}}
            <div>
              {{this.name}}
            </div>
          {{/each}}
        </p>

        <button
          type='button'
          data-id='{{this.id}}'
          id='delete'
          class='inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out'
        >Delete Workout</button>
        </div>
      {{/each}}
    
  </div>
</div>

<script src='./js/workout.js'></script>